@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html,
	body {
		min-height: 100%;
	}


@layer base {
  :root {
    --base:         #faf9f7;      /* bg principal de la pg */
	--surface:      #ffffff;      /* bg del area del contenido */
	--card:         #ffffff;      /* bg de las tarjetas - bloques de contenido */
	--sidebar:      #f2efe9;      /* bg del sidebar */
	--border:       #e0dbd3;      /* color del borde */
	--border-dark:  #d4ccc3;      /* borde con mas contraste para enfatizar la separacion */


	--text-title:   #1a1510; 		/* ← casi negro cálido */
	--text-primary: #3d3428;      /* ← café oscuro */
	--text-body:    #6b5f52;      /* ← café medio */
	--text-muted:   #9b8f82;      /* ← café suave - sidebar */
	--text-subtle:  #b5a99c;      /* ← crema oscura - El breadcrumb  "Documentación › Grafos › Dijkstra"*/
	--text-accent:  #c47d0e;      /* ← ambar - todo lo que es interactivo o activo */
	
	
	--grafos-text:   #1a5e30;
	--grafos-bg:     #e8f5ec;
	--grafos-border: #a9cfb5;

	--strings-text:   #5b4bb7;
	--strings-bg:     #eeecfa;
	--strings-border: #c9c3e5;

	--mates-text:   #9a5b16;
	--mates-bg:     #faf0df;
	--mates-border: #ddc49c;

	--estructuras-text:   #7b3f8c;
	--estructuras-bg:     #f5eaf8;
	--estructuras-border: #d5b8dc;

	--dp-text:   #a13d3d;
	--dp-bg:     #faeaea;
	--dp-border: #deb6b6;

	--flujo-text:   #21657c;
	--flujo-bg:     #e7f2f6;
	--flujo-border: #acd0dc;

	--geometria-text:   #24716b;
	--geometria-bg:     #e6f3f1;
	--geometria-border: #afd3cf;


  }

  .dark {
	--base:        #0f1117;
	--surface:     #111827;
	--card:        #1a1d27;
	--sidebar:     #0c0e14;
	--border:      #1e293b;
	--border-dark: #2a2820;


	--text-title:   #f1f5f9;
	--text-primary: #aea691;   
	--text-body:    #6b6657;   
	--text-muted:   #4a4438;   
	--text-subtle:  #4a4438;   
	--text-accent:  #f59e0b;   
  }
}

@theme {
  
	--color-base:        var(--base);
	--color-surface:     var(--surface);
	--color-card:        var(--card);
	--color-sidebar:     var(--sidebar);
	--color-border:      var(--border);
	--color-border-dark: var(--border-dark);


	--color-title:   var(--text-title);
	--color-primary: var(--text-primary);   
	--color-body:    var(--text-body);   
	--color-muted:   var(--text-muted);   
	--color-subtle:  var(--text-subtle);   
	--color-accent:  var(--text-accent); 


	--color-grafos-text: var(--grafos-text);
	--color-grafos-bg: var(--grafos-bg);
	--color-grafos-border: var(--grafos-border);

	--color-strings-text:  var(--strings-text);
	--color-strings-bg:  var(--strings-bg);
	--color-strings-border:  var(--strings-border);

	--color-mates-text: var(--mates-text);
	--color-mates-bg: var(--mates-bg);
	--color-mates-border: var(--mates-border);

	--color-estructuras-text: var(--estructuras-text);
	--color-estructuras-bg: var(--estructuras-bg);
	--color-estructuras-border: var(--estructuras-border);

	--color-dp-text: var(--dp-text);
	--color-dp-bg: var(--dp-bg);
	--color-dp-border: var(--dp-border);

	--color-flujo-text:   var(--flujo-text);
	--color-flujo-bg:   var(--flujo-bg);
	--color-flujo-border:   var(--flujo-border);

	--color-geometria-text: var(--geometria-text);
	--color-geometria-bg: var(--geometria-bg);
	--color-geometria-border: var(--geometria-border);


}