@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html,
	body {
		min-height: 100%;
	}


@layer base {
  :root {
    --color-base:         #faf9f7;      /* bg principal de la pg */
	--color-surface:      #ffffff;      /* bg del area del contenido */
	--color-card:         #ffffff;      /* bg de las tarjetas - bloques de contenido */
	--color-sidebar:      #f2efe9;      /* bg del sidebar */
	--color-border:       #e0dbd3;      /* color del borde */
	--color-border-dark:  #d4ccc3;      /* borde con mas contraste para enfatizar la separacion */


	--color-text-title:   #1a1510; 		/* ← casi negro cálido */
	--color-text-primary: #3d3428;      /* ← café oscuro */
	--color-text-body:    #6b5f52;      /* ← café medio */
	--color-text-muted:   #9b8f82;      /* ← café suave - sidebar */
	--color-text-subtle:  #b5a99c;      /* ← crema oscura - El breadcrumb  "Documentación › Grafos › Dijkstra"*/
	--color-text-accent:  #c47d0e;      /* ← ambar - todo lo que es interactivo o activo */
  }

  .dark {
	--color-base:        #0f1117;
	--color-surface:     #111827;
	--color-card:        #1a1d27;
	--color-sidebar:     #0c0e14;
	--color-border:      #1e293b;
	--color-border-dark: #2a2820;


	--color-text-title:   #f1f5f9;
	--color-text-primary: #aea691;   
	--color-text-body:    #6b6657;   
	--color-text-muted:   #4a4438;   
	--color-text-subtle:  #4a4438;   
	--color-text-accent:  #f59e0b;   
  }
}

@theme {
  
	--color-base:        initial;
	--color-surface:     initial;
	--color-card:        initial;
	--color-sidebar:     initial;
	--color-border:      initial;
	--color-border-dark: initial;


	--color-text-title:   initial;
	--color-text-primary: initial;   
	--color-text-body:    initial;   
	--color-text-muted:   initial;   
	--color-text-subtle:  initial;   
	--color-text-accent:  initial; 
}